
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}




.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.footer-left, .footer-right {
  flex: 1;
  margin: 0 1rem;
}

.footer-left p, .footer-right p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-left ul, .footer-right ul {
  list-style: none;
}

.footer-left li, .footer-right li {
  margin-bottom: 0.5rem;
}

.footer-left i, .footer-right i {
  margin-right: 10px;
}


.footer-bottom {
  background-color: #388e3c;
  padding: 1rem;
}

.footer-bottom p {
  font-size: 0.9rem;
  margin: 0;
}
